html {
  background-color: #c9b5ab;
}

body {
  list-style-type: none;
  line-height: 1.5;
  font-family: "PT Serif", serif;
  font-weight: normal;
}

img {
  width: 100%;

}

h1 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

a {
  text-decoration: none;
  font-size: 1.125rem;
  font-family: "PT Sans", serif;
  color: #8f2440;
  font-weight: bold;
}

a:hover {
  color: #222;
  text-decoration: none;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
}

.bold-note {
  font-weight: bold;
  font-size: 1.125rem;
}
